@font-face {
  font-family: "logotipo";
  src: url(../assets/fonts/logotipo/FontsFree-Net-Mont-Bold.ttf);
}
@font-face {
  font-family: "texto";
  src: url(../assets/fonts/textos/akzidenz-grotesk-bq-extended.otf);
}
@font-face {
  font-family: "titulo";
  src: url(../assets/fonts/titulos/akzidenz-grotesk-bq-bold-extended.otf);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* Header.js styles */
header {
  width: 100vw;
  background-color: black;
  padding: 1vw 12vw;
}
header #sectionHeaderTop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
header #sectionHeaderTop #logoAndBrand {
  width: fit-content;
  height: fit-content;
}
header #sectionHeaderTop #logoAndBrand img {
  height: 50px;
}
header #sectionHeaderTop #shoppingCart {
  position: relative;
  background-color: unset;
  border: unset;
}
/* CartWidget.js styles */
#cartCounter {
  color: white;
  font-size: 0.8rem;
  position: absolute;
  top: 0;
  left: 60%;
  background-color: red;
  padding: 4px 8px;
  border-radius: 0.8rem;
  z-index: 10;
}
/* Navbar.js styles */
#categoriesList {
  display: flex;
}
#categoriesList li {
  margin: 1vw 2vw 0;
}
#categoriesList li a {
  font-family: texto;
  font-size: 1rem;
  color: #e2dfdc;
  list-style: none;
  text-decoration: none;
}
